<%= stylesheet_link_tag 'bulma.min', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container">
  <div class="columns">
    <div class="column is-one-quarter">
      <%= render 'sidebar' %>
    </div>
    <div class="column">
      <h1 class="title is-2">Items</h1>

      <!-- Sorting Dropdown Menu -->
      <div class="field">
        <label class="label">Sort by</label>
        <div class="control">
          <div class="select">
            <select id="sort-dropdown" onchange="sortItems()">
              <option value="">Default</option>
              <option value="alphabetical" <%= 'selected' if @sort == 'alphabetical' %>>Alphabetically</option>
              <option value="gold_ascending" <%= 'selected' if @sort == 'gold_ascending' %>>Gold Ascending</option>
              <option value="gold_descending" <%= 'selected' if @sort == 'gold_descending' %>>Gold Descending</option>
            </select>
          </div>
        </div>
      </div>

      <% if params[:tag] %>
        <p><strong>Filtering by tag:</strong> <%= params[:tag] %></p>
      <% end %>
      <p><strong>Number of items:</strong> <%= @items.count %></p>

      <!-- Pagination -->
      <%= render 'shared/pagination', collection: @items %>

      <div class="columns is-multiline">
        <% @items.each do |item| %>
          <div class="column is-one-third">
            <div class="box">
              <h2 class="title is-4"><%= link_to item.name, item_path(item) %></h2>
              <p><%= raw item.plaintext %></p> <!-- Use raw here -->
              <%= image_tag item.image, alt: item.name, class: "item-image" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Script for sorting -->
<script>
  function sortItems() {
    const sortValue = document.getElementById('sort-dropdown').value;
    const urlParams = new URLSearchParams(window.location.search);
    urlParams.set('sort', sortValue);
    window.location.search = urlParams.toString();
  }
</script>
